docfx.json                          @microsoftdocs/officedocs-admin
.openpublishing.build.ps1           @microsoftdocs/officedocs-admin
.openpublishing.publish.config.json @microsoftdocs/officedocs-admin
CODEOWNERS                          @microsoftdocs/officedocs-admin
.acrolinx-config.edn                @microsoftdocs/officedocs-admin

/DeployOffice/  @DHB-MSFT @nicholasswhite
/microsoft-365-apps/  @DHB-MSFT @nicholasswhite
/office/  @DHB-MSFT @nicholasswhite
